@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;700&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px #f1f1f1 solid;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1em 0;
}

img {
    width: 30%;
    margin: calc(10%/6);
}